doctype html
html(lang="ja")
  head
    include includes/_meta.pug
  body#search
    include includes/_header.pug
    
    .ui.container
      .ui.stackable.grid
        .ui.thirteen.wide.column
          br.computer.only
          h1.ui.large.header
            | 青空文庫の全作品
          p
            | 青空文庫で公開されているすべての著者の全作品を、おすすめ人気順で表示しています。
          .ui.divider
          include includes/_search_form.pug
          .ui.divider
          br
          small
            | 1〜50件
            | / 全#{results.totalCount}件
          table.ui.fixed.unstackable.striped.table
            thead
              tr.computer.only
                th.five.wide 作品名
                th.four.wide 著者
                th.four.wide 読了時間
                th.two.wide 人気
                th.five.wide.computer.only 書き出し
              tr.mobile.only
                th.six.wide
                  small 作品名
                th.six.wide
                  small 著者
                th.nine.wide
                  small 読了時間
                  small.right.floated 人気
            tbody
              each item, book_id in results.items
                tr.computer.only
                  td
                    a(href=`/authors/${item["人物ID"]}/categories/${item["カテゴリ"]}/books/${item["作品ID"]}`)= item["作品名"]
                  td
                    a(href=`/authors/${item["人物ID"]}/categories/all/books`)
                      = item["姓名"]
                  td
                    a(href=`authors/all/categories/${item["カテゴリ"]}/books`)
                      case item["カテゴリ"]
                        when "flash" 
                          .ui.basic.mini.label.orange 5分以内
                        when "shortshort"
                          .ui.basic.mini.label.pink 10分以内
                        when "short"
                          .ui.basic.mini.label.blue 30分以内
                        when "novelette"
                          .ui.basic.mini.label.green 60分以内
                        when "novel"
                          .ui.basic.mini.label 1時間〜
                    | &nbsp;&nbsp;
                    = Number(item["文字数"]).toLocaleString()
                    small 文字
                  td
                    span
                      if Number(item["累計アクセス数"]) >= 10000
                        i.fas.fa-star.yellow
                        | &nbsp;
                      if Number(item["累計アクセス数"]) >= 500
                        i.fas.fa-star.yellow
                        | &nbsp;
                      if Number(item["累計アクセス数"]) >= 1
                        i.fas.fa-star.yellow
                  td
                    small
                      = item["書き出し"].substr(0, 30)
                      if item["書き出し"].length > 30
                        | …
                tr.mobile.only
                  td
                    a(href=`/authors/${item["人物ID"]}/categories/${item["カテゴリ"]}/books/${item["作品ID"]}`)= item["作品名"]
                  td
                    a(href=`/authors/${item["人物ID"]}/categories/all/books`)
                      = item["姓名"]
                  td
                    a(href=`authors/all/categories/${item["カテゴリ"]}/books`)
                      .ui.basic.mini.label
                        case item["カテゴリ"]
                          when "flash" 
                            .ui.basic.mini.label.orange 5分以内
                          when "shortshort"
                            .ui.basic.mini.label.pink 10分以内
                          when "short"
                            .ui.basic.mini.label.blue 30分以内
                          when "novelette"
                            .ui.basic.mini.label.green 60分以内
                          when "novel"
                            .ui.basic.mini.label 1時間〜
                    small.right.floated
                      span
                        if Number(item["累計アクセス数"]) >= 10000
                          i.fas.fa-star.yellow
                        if Number(item["累計アクセス数"]) >= 500
                          i.fas.fa-star.yellow
                        if Number(item["累計アクセス数"]) >= 1
                          i.fas.fa-star.yellow
                            
          .ui.basic.center.aligned.segment
            nav
              if results.links && results.links.prev
                a.ui.basic.button(rel="prev" href=results.links.prev)
                  i.fas.fa-chevron-left
                  | &nbsp;
                  | &nbsp;
                  | Prev
              | &nbsp;
              | &nbsp;
              if results.links && results.links.next
                a.ui.basic.button(rel="next" href=results.links.next)
                  | Next
                  | &nbsp;
                  | &nbsp;
                  i.fas.fa-chevron-right
                
        .ui.three.wide.column
          include includes/_sidebar.pug
          
    include includes/_footer.pug
