if author['人物ID'] == 'all' && category.id == 'all'
  br.computer-only
else
  #breadcrumb
    .ui.small.breadcrumb
      .section
        a(href="/")
          span TOP
      if author["人物ID"] != 'all'
        | &nbsp;
        i(class="fas fa-angle-right divider")
        | &nbsp;
        .section
          a(href=`/authors/${author["人物ID"]}/categories/all/books`)
            span= author["姓名"]
      | &nbsp;
      i(class="fas fa-angle-right divider")
      | &nbsp;
      .section
        // book詳細があるときはリンク化、それ以外は非リンクテキスト
        - var categoryName = (category.id=='all') ? '全作品' : `${category.name}（${category.readTime}）`;
        if book
          a(href=`/authors/${author["人物ID"]}/categories/${category.id}/books`)
            span= categoryName
        else
          div= categoryName
      if book
        | &nbsp;
        i(class="fas fa-angle-right divider")
        | &nbsp;
        .section
          div= book["作品名"]
