.ui.secondary.scrolling.menu
  .item(style="padding:0;")
    i.far.fa-clock.gray
  a.item(class={active: category.id=='all'} href=`/authors/${author['人物ID']}/categories/all/books`) すべて
  a.item(class={active: category.id=='flash'} href=`/authors/${author['人物ID']}/categories/flash/books`) 5分以内
  a.item(class={active: category.id=='shortshort'} href=`/authors/${author['人物ID']}/categories/shortshort/books`) 10分以内
  a.item(class={active: category.id=='short'} href=`/authors/${author['人物ID']}/categories/short/books`) 30分以内
  a.item(class={active: category.id=='novelette'} href=`/authors/${author['人物ID']}/categories/novelette/books`) 60分以内
  a.item(class={active: category.id=='novel'} href=`/authors/${author['人物ID']}/categories/novel/books`) 1時間〜
.ui.divider
form.ui.form(action="/authors" accept-charset="UTF-8" method="GET")
  .ui.transparent.fluid.left.icon.input
    i.far.fa-user.gray
    input#author_name(type="text" name="keyword" placeholder="著者名" minLength=2 value=author['姓名'])
    input#category_id(type="hidden" name="categoryId" value=category.id)
    button.ui.basic.icon.button(type="submit")
      i.fas.fa-search.gray
      span.computer.only &nbsp;&nbsp;検索
